#colorDiv {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #ad45ac;

}
html {
    background-color: #e0e0e0;
    background-image: url(../img/bg.jpg);
    background-position: left center;

}
#img_fix {
    position: fixed;
    top: 20px;
    
}